In [27]:
import pandas as pd
import os
import json
import sys 
import traceback

In [3]:
movies_path = os.path.join(os.path.join(os.getcwd(),'Datasets'),'movies_dataset')

metadata_path = os.path.join(movies_path,'movies_metadata.csv')
ratings_path = os.path.join(movies_path,'ratings.csv')

In [9]:
metadata = pd.read_csv(metadata_path)
ratings = pd.read_csv(ratings_path, nrows=100)

In [10]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [21]:
metadata.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

In [28]:
nrows = metadata.shape[0]

movies = {}
for index in range(nrows):
    # get the id of the movie
    try:
        id_row = int(metadata.iloc[index,:].id)
    except:
        print('-'*60)
        traceback.print_exc(file=sys.stdout)
        print('-'*60)
        continue

    # get the genres of the movie
    try:
         genres_row = eval(metadata.iloc[index,:].genres)
         genres_list = []
         for genres_dict in genres_row:
            id_ = genres_dict['id']
            genres_list.append(id_)
    except:
        print('-'*60)
        traceback.print_exc(file=sys.stdout)
        print('-'*60)
        continue

    # get original language
    try:
         original_row = metadata.iloc[index,:].original_language
    except:
        print('-'*60)
        traceback.print_exc(file=sys.stdout)
        print('-'*60)
        continue

    
    # get the production companies
    try:
        prod_comp_list = []
        prod_comp_row = eval(metadata.iloc[index,:].production_companies)
        for prod_comp_dict in prod_comp_row:
            id_ = prod_comp_dict['id']
            prod_comp_list.append(id_)
    except:
        print('-'*60)
        traceback.print_exc(file=sys.stdout)
        print('-'*60)
        continue

    # get the production countries
    try:
        prod_countries_list = []
        prod_countries_row = eval(metadata.iloc[index,:].production_countries)
        for prod_countries_dict in prod_countries_row:
            country = prod_countries_dict['iso_3166_1']
            prod_countries_list.append(country)
    except:
        print('-'*60)
        traceback.print_exc(file=sys.stdout)
        print('-'*60)
        continue

    # get the production countries
    try:
        spoken_languages_list = []
        spoken_languages_row = eval(metadata.iloc[index,:].spoken_languages)
        for spoken_languages_dict in spoken_languages_row:
            spoken_language = spoken_languages_dict['iso_639_1']
            spoken_languages_list.append(spoken_language)
    except:
        print('-'*60)
        traceback.print_exc(file=sys.stdout)
        print('-'*60)
        continue

    movies[id_row] = {'genres':genres_list,
                    'original_language':original_row,
                    'production_companies':prod_comp_list,
                    'production_countries': prod_countries_list,
                    'spoken_language':spoken_languages_list}

------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-b0886b57e325>", line 40, in <module>
    prod_comp_row = eval(metadata.iloc[index,:].production_companies)
TypeError: eval() arg 1 must be a string, bytes or code object
------------------------------------------------------------
------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-b0886b57e325>", line 7, in <module>
    id_row = int(metadata.iloc[index,:].id)
ValueError: invalid literal for int() with base 10: '1997-08-20'
------------------------------------------------------------
------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-b0886b57e325>", line 40, in <module>
    prod_comp_row = eval(metadata.iloc[index,:].production_companies)
TypeError: eval() arg 1 must be a string, bytes or code object
------------------------------------------------------------
------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-b0886b57e325>", line 7, in <module>
    id_row = int(metadata.iloc[index,:].id)
ValueError: invalid literal for int() with base 10: '2012-09-29'
------------------------------------------------------------
------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-b0886b57e325>", line 40, in <module>
    prod_comp_row = eval(metadata.iloc[index,:].production_companies)
TypeError: eval() arg 1 must be a string, bytes or code object
------------------------------------------------------------
------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-28-b0886b57e325>", line 7, in <module>
    id_row = int(metadata.iloc[index,:].id)
ValueError: invalid literal for int() with base 10: '2014-01-01'
------------------------------------------------------------

In [29]:
len(movies)

45430

In [7]:
ratings

    userId  movieId  rating   timestamp
0        1      110     1.0  1425941529
1        1      147     4.5  1425942435
2        1      858     5.0  1425941523
3        1     1221     5.0  1425941546
4        1     1246     5.0  1425941556
..     ...      ...     ...         ...
95       4     3004     1.0  1042668521
96       4     3005     3.0  1042668544
97       4     3114     5.0  1042672580
98       4     3160     4.0  1042672335
99       4     3203     4.0  1042668576

[100 rows x 4 columns]